<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BBChess - Home</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body class="home">
        <div class="home-box">
            <h1>BBChess</h1>
            <p>The website for the worst collection of chess players the world has ever seen.</p>
            <a href="/players"><button class="homepage-button">Players</button></a>
            <a href="/tournaments"><button class="homepage-button">Tournaments</button></a>
        </div>
    </body>


</html>