<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BBChess - <%=player%></title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>

        <h1 class="heading"><%=player%></h1>
        <a href="/players">Back to players</a>
        <a href="/">Back to home</a>
        <br>
        <h2>Players:</h2>
        <div>
            <img src="/images/profiles/<%= player %>.jpg" alt="Player 1 profile photo">
            <p><%=player%></p>
        </div>

    </body>


</html>