body.home {
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('/images/backgrounds/homeBGPlain.png');
  /* background-size: auto 125%; */
  background-position: center;
  height: 100vh;
}

body.tournaments{
  background-image: url('/images/backgrounds/homeBG.png');
}

body.tournament{
    background-image: url('/images/backgrounds/tournamentBG.jpg');
    background-size: cover;
}

body.players{
    background-image: url('/images/backgrounds/homeBG.png');
}

body.player-body{
    background-image: url('/images/backgrounds/playerBG.jpg');
    background-size: cover;
}

.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(25, 25, 25);
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.players-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 1vw;
    margin-right: 2vw;
    flex-wrap: wrap;
    justify-items: space-between;
}

.players h1{
    color:bisque;
    margin-left: 35px;
    text-shadow: -3px -3px 0 rgb(36, 27, 13), 3px -3px 0 rgb(36, 27, 13), -3px 3px 0 rgb(36, 27, 13), 3px 3px 0 rgb(36, 27, 13), 6px 6px 6px rgb(0, 0, 0, 0.4);
}

.player{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(27, 27, 27, 0.65);
    backdrop-filter: blur(6px);
    height: 20vh;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.4);
    width: 45vw;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(60, 60, 60);
}

.player img{
    height: 18.5vh;
    width: auto;
    align-self: center;
    margin-right: 10px;
    border-radius: 8px;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-style: solid;
}

.player-info{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.player h3{
    color: rgb(240, 240, 240);
    font-size: clamp(20px, 2.25vw, 50px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.player p{
    color: rgb(240, 240, 240);
    font-size: clamp(17px, 1.5vw, 35px);
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
    margin-left: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
}

.nickname{
    font-style: italic;
    font-size: 0.9em;
}

/* PLAYER CSS */

.profile-head{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgba(30, 30, 30, 0.6);
    /* background-color: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(12px);
    justify-content:flex-start;
    gap: 50px;
}

.profile-image img{
    height: 18vw;
    width: auto;
}

.profile-head-left{
    width: 28vw;
}

.profile-head-left h1{
    margin-top: 8px;
    padding-left: 0;
    color: rgb(230, 230, 230);
}

.profile-head-left p{
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 4px;
    color: rgb(230, 230, 230);
}

.elo-list h4{
    font-size: 1.2vw;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(230, 230, 230);
}

.elo-list p{
    font-size: 0.9vw;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(230, 230, 230);
}

.elo-list a{
    font-size: 0.9vw;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(230, 230, 230);
}

.achievements h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    margin-bottom: 0px;
    color: rgb(230, 230, 230);
}

.achievements p{
    font-weight: 500;
    font-size: 0.9vw;
    color: rgb(230, 230, 230);
}

.game-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 0.75);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 10px;
    padding-left: 40px;
}

.game-card{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 2vw;
    height: 100px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.result{
    font-size: 2.5vw;
    font-weight: 600;
    color: rgb(20, 20, 20);
}

.result-Win{
    background-color: rgb(63, 241, 63);
    border-radius: 15px;
}

.result-Loss{
    background-color: rgb(255, 50, 50);
    border-radius: 15px;
}

.game-card-white-player-div{
    display: flex;
    justify-content: right;
    width: 17.5vw;
}

.game-card-white-player{
    font-size: 2.5vw;
}

.game-card-white-player-mobile{
    display: none;
}

.game-card-result{
    font-size: 3vw;
    font-weight: 700;
}

.game-card-black-player{
    font-size: 2.5vw;
}

.game-card-black-player-mobile{
    display: none;
}

.game-card-black-bg{
    background-color: rgb(30, 30, 30); 
    border-radius: 15px; 
    color: rgb(240, 240, 240);
}

.game-card-type{
    font-size: 1.5vw;
}

.game-card-extras{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    justify-content: center;
}

.game-card-date{
    font-size: 1.5vw;
}

.game-card-view-game{
    width: 2.5vw;
    height: auto;
    padding-top: 22px;
}

.notes-button{
    width: 3.5vw;
    height: 3.5vw;
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    padding-top: 10px;
}

.notes-section{
    font-size: 1.5vw;
}

.view-game-false{
    display: none;
}

.notes-false{
    display: none;
}

.iframe-button{
    width: 3.5vw;
    height: 3.5vw;
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    padding-top: 9px;
}

.iframe-button-false{
    display: none;
}

.iframe-active-false{
    display: none;
}

.iframe-section iframe{
    padding: 20px;
    width: 48vw;
    height: 32vw;
    border: none;
}

.elo-list{
    width: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}

.tournaments-section-header{
    color:bisque;
    margin-left: 30px;
    text-shadow: -3px -3px 0 rgb(36, 27, 13), 3px -3px 0 rgb(36, 27, 13), -3px 3px 0 rgb(36, 27, 13), 3px 3px 0 rgb(36, 27, 13), 6px 6px 6px rgb(0, 0, 0, 0.4);
}

.tournament-card{
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: rgba(240, 248, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 60px;
    padding-left: 30px;
    align-items: center;
    justify-content: baseline;
    gap: 40px;
}

.tournament-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 25vw;
    text-decoration:none;
    color: black;
}

.position{
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.position-1{
    background-color: rgb(246, 226, 45);
}

.position-2{
    background-color: rgb(215, 216, 216);
}

.position-3{
    background-color: rgb(244, 182, 77);
}

.section-title{
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
    color: rgb(240, 240, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.tournament-section h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 45px;
    font-size: 2.2vw;
    margin-bottom: 10px;
    color:bisque;
    text-shadow: -2px -2px 0 rgb(36, 27, 13), 2px -2px 0 rgb(36, 27, 13), -2px 2px 0 rgb(36, 27, 13), 2px 2px 0 rgb(36, 27, 13), 6px 6px 6px rgb(0, 0, 0, 0.4);
}

.tournament-card2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    background-color: rgba(25, 25, 25, 0.75);
    backdrop-filter: blur(3px);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 60px;
    align-items: center;
    gap: 50px;
    color: rgb(230, 230, 230);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(60, 60, 60);
}

.tournament-card2 h3{
    font-size: 55px;
    margin: 0;
}

.tournament-details{
    width: 12vw;
    font-size: 1.3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 15px;
    font-weight: 600;
}

.tournament-card-main{
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content:space-around;
    align-items: center;
}

.tournament-card-main h3{
    font-size: 3.4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tournament-card-main p{
    font-size: 1.5vw;
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}

.tournaments-exist-false{
    display: none;
}

.tournament-winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.35vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 10px;
    font-weight: 600;
    padding-bottom: 20px;
}

.game-win-true{
    background-color: rgb(63, 241, 63);
    border-radius: 15px;
}

.game-win-false{
    background-color: #ff3232;
    border-radius: 15px;
}

.points-1{
    display: none;
}

.ranking-card{
    display: flex;
    flex-direction: row;
    height: 70px;
    border-radius: 18px;
    margin-left: 40px;
    margin-right: 70px;
    margin-bottom: 5px;
    padding-left: 20px;
    background-color: rgb(240, 248, 255);
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.ranking-1{
    background: linear-gradient(140deg, rgb(246, 211, 34) 0%, rgb(255, 240, 108) 100%);
    margin-left: 28px;
    margin-right: 58px;
    height: 80px;
    border-radius: 10px;
}

.ranking-2{
    background: linear-gradient(140deg, rgb(166, 165, 165) 0%, rgb(235, 241, 242) 100%);
    margin-left: 31px;
    margin-right: 61px;
    height: 78px;
    border-radius: 10px;
}

.ranking-3{
    background: linear-gradient(140deg, rgb(243, 176, 61) 0%, rgb(253, 195, 95) 100%);
    margin-left: 34px;
    margin-right: 64px;
    height: 76px;
    border-radius: 10px;
}


.shine-true {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 3s ease;
}

.shine-true::before {
    content: '';
    position: absolute;
    height: 250%;
    width: 40px;
    top: 0;
    left: -60px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: rotate(45deg) translateY(-35%);
    animation: shine 4s ease infinite;
}

@keyframes shine {
  0% {
    left: -80px;
  }
  40% {
    left: calc(100% + 20px);
  }
  100% {
    left: calc(100% + 20px);
  }
}

.ranking-card-position{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.ranking-card-player{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.ranking-card-points{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
}

.tournament-head{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: rgba(65, 65, 65, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tournament-heading{
    color: rgb(240, 230, 223);
}

.tournament-descriptions p{
    color: rgb(240, 230, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: 20px;
    line-height: 20px;
}

.wins{
    color: rgb(42, 212, 42);
}

.losses{
    color: rgb(255, 50, 50);
}

.note-active-false{
    display: none;
}

.homepage-button{
    width: 50vw;
    height: 20vh;
}

.home-box{
    height: 88vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.home-box h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19vh;
    font-weight: 900;
    color: rgb(25, 25, 25);
    margin: 0px;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff, 16px 16px 16px rgb(0, 0, 0, 0.4);
}

.home-box p{
    font-size: 3vh;
    background-color: antiquewhite;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 12px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.4);
}

.home-box button{
    width: 40vw;
    height: 17vh;
    font-size: 8.5vh;
    font-weight: 600;
    border-radius: 35px;
    backdrop-filter: blur(2px);
    background-color: rgba(25, 25, 25, 0.8);
    color:#fff;
    box-shadow: 10px 10px 8px rgb(0, 0, 0, 0.2);
    text-shadow: 8px 8px 8px rgb(0, 0, 0, 0.2);
}

.home-icon{
    size: 3vw;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    margin: 8px;
    margin-left: 15px;
}

.tournaments-header{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.tournament-nav{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 10vw;
}

.tournament-nav img{
    width: 6vw;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.players-nav{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.player-nav{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 6vw;
    margin-left: 12px;
}

.player-nav img{
    width: 5vw;
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}


/* MOBILE STYLING */

@media (max-width: 900px) {
    /* HOME PAGE */

    .home-box h1{
        font-size: 20vw;
    }

    .home-box p{
        text-align: center;
        font-size: 6vw;
    }

    .home-box button{
        width: 80vw;
        font-size: 10vw;
        height: 25vw;
    }


    /* PLAYERS PAGE */
    .home-icon{
        width: 13vw;
        height: 13vw;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .players-nav h1{
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 2px;
    }

    .players-container{
        margin-bottom: 30px;
    }

    .player{
        width: 86vw;
        height: auto;
        padding-left: 5px;
        border-radius: 18px;
    }

    .player img{
        border-radius: 18px;
    }

    /* TOURNAMENTS PAGE */
    .tournaments-section-header{
        font-size: 11vw;
        margin-left: 10px;
    }

    .tournament-section h2{
        font-size: 7vw;
        padding-left: 12px;
    }

    .tournament-card2{
        flex-wrap: wrap;
        width: 90vw;
        height: auto;
        margin-left: 1.5vw;
        gap: 5px;
        row-gap: 10px;
        justify-content: left;
        align-items: flex-start;
        padding-left: 2vw;
    }
    
    .tournament-card-main{
        order: 1;
        gap: 0px;
        margin-top: 16px;
        margin-left: 8px;
        margin-bottom: 0px;
        height: auto;
        min-height: 0;
        width: 85vw;
        align-items: flex-start;
    }

    .tournament-card-main h3{
        font-size: 5vw;
    }

    .tournament-card-main p{
        font-size: 3.5vw;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .tournament-details{
        width: 30vw;
        margin-left: 15px;
        margin-top: 0px;
        order: 2;
        font-size: 3.5vw;
        line-height: 8px;
        margin-bottom: 8px;
    }

    .tournament-winner{
        margin-top: 0px;
        order: 3;
        font-size: 3.5vw;
        line-height: 4px;
    }


    /* PLAYER PAGE */

    .profile-head{
        /* background-color: red; */
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4vw;
    }

    .player-nav{
        order: 0;
        width: 18vw;
        height: auto;
        /* background-color: aqua; */
    }

    .player-nav img{
        width: 15vw;
        height: auto;
        margin: 0px;
    }

    .profile-image{
        order: 1;
        /* background-color: aquamarine; */
    }

    .profile-image img{
        width: 57vw;
        height: auto;
        margin-top: 10px;
        margin-left: 10px;
    }

    .profile-head-left{
        /* background-color: blueviolet; */
        width: 80vw;
        margin-left: 2vw;
        padding-left: 4vw;
        order: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4vw;
    }

    .profile-head-left h1{
        /* background-color: orange; */
        width: 90vw;
        font-size: 8vw;
    }

    .profile-head-left p{
        margin: 0px;
        font-size: 4vw;
    }

    .elo-list{
        order: 3;
        width: 35vw;
        margin-left: 5vw;
        margin-bottom: 2vw;
        /* background-color: darkseagreen; */
    }

    .elo-list h4{
        font-size: 4vw;
        margin-top: 0px;
    }

    .elo-list p{
        font-size: 3.2vw;
    }

    .elo-list a{
        font-size: 3.5vw;
    }

    .achievements{
        order: 4;
        width: 35vw;
        /* background-color: yellow; */
    }

    .achievements h3{
        font-size: 4vw;
    }

    .achievements p{
        font-size: 3vw;
    }

    .section-title{
        margin-left: 30px;
    }

    .tournament-card{
        margin-left: 3vw;
        width: 78vw;
        height: auto;
        padding-left: 5vw;
        padding-right: 6vw;
        padding-top: 2vw;
        padding-bottom: 3vw;
    }

    .tournament-title{
        font-size: 5vw;
        margin: 0px;
    }

    .position{
        font-size: 4vw;
        margin: 0px;
        text-align: center;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 4px;
    }

    .tournament-games{
        padding-bottom: 30px;
    }

    .game-container{
        margin-left: 3vw;
        width: 85vw;
        padding-left: 3vw;
    }

    .game-card{
        flex-wrap: wrap;
        gap: 3vw;
    }

    .result{
        width: 80vw;
        font-size: 4vw;
        margin-top: 5px;
        margin-bottom: 0px;
        text-align: center;
    }

    .game-card-white-player{
        display: none;
    }

    .game-card-white-player-mobile{
        display: unset;
        width: 15vw;
        font-size: 4.5vw;
        margin-top: 0px;
        text-align: center;
    }

    .game-card-result{
        font-size: 6vw;
        margin-top: 0px;
    }

    .game-card-black-player{
        display: none;
    }

    .game-card-black-player-mobile{
        display: unset;
        width: 15vw;
        font-size: 4.5vw;
        margin-top: 0px;
        text-align: center;
    }

    .game-card-extras{
        flex-wrap: wrap;
        background-color: lightblue;
        align-items: flex-start;
        width: 30vw;
        row-gap: 0px;
        height: 20vw;
    }

    .game-card-type{
        font-size: 3.5vw;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .game-card-date{
        font-size: 3.5vw;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .iframe-button{
        margin: 0px;
        font-size: 4vw;
        padding: 0px;
        width: 4vw;
        background-color: coral;
    }

    .game-card-view-game{
        margin: 0px;
        width: 4vw;
        height: 4vw;
        padding-top: 0px;
    }

    .view-game-true{
        height: 40vw;
    }

    .notes-button{
        margin: 0px;
        font-size: 4vw;
    }
}