.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: rgb(35, 35, 35);
}

.players-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 1vw;
    margin-right: 2vw;
    flex-wrap: wrap;
    justify-items: space-between;
}

.player{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(247, 247, 250);
    height: 175px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.15);
    width: 45vw;
    padding: 5px;
    padding-left: 15px;
}

.player img{
    height: 150px;
    width: 150px;
    align-self: center;
    margin-right: 10px;
}

.player-info{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.player h3{
    font-size: x-large;
}

.player p{
    font-size: large;
    margin-left: 5px;
}

.nickname{
    font-style: italic;
    font-size: 24px;
}

/* PLAYER CSS */

.profile-head{
    display: flex;
    flex-direction: row;
    background-color: beige;
    justify-content:baseline;
    gap: 50px;
}

.game-card{
    display: flex;
    flex-direction: row;
    background-color: beige;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 10px;
    justify-content: baseline;
    gap: 50px;
    height: 100px;
    font-size: 50px;
    align-items: center;
    padding-left: 40px;
}

.result-Win{
    background-color: rgb(63, 241, 63);
    border-radius: 15px;
}

.result-Loss{
    background-color: #ff3232;
    border-radius: 15px;
}

.notes-false{
    display: none;
}

.elo-list{
    width: 10vw;
    line-height: 12px;
}

.tournament-card{
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: aliceblue;
    margin-left: 30px;
    margin-right: 60px;
    padding-left: 30px;
    align-items: center;
    gap: 40px;
}

.tournament-title{
    font-weight: 700;
    font-size: xx-large;
    margin-left: 25vw;
    text-decoration:none;
    color: black;
}

.position{
    border-radius: 25px;
    font-size: x-large;
    font-weight: 500;
}

.position-1{
    background-color: rgb(246, 226, 45);
}

.position-2{
    background-color: rgb(215, 216, 216);
}

.position-3{
    background-color: rgb(244, 182, 77);
}

.section-title{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tournament-card2{
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: aliceblue;
    margin-left: 30px;
    margin-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    align-content: center;
    gap: 50px;
}

.tournament-card2 h3{
    font-size: 55px;
    margin: 0;
}

.tournament-card-main{
    width: 60vw;
    justify-content:center;
}

.tournaments-exist-false{
    display: none;
}

.game-win-true{
    background-color: rgb(63, 241, 63);
    border-radius: 15px;
}

.game-win-false{
    background-color: #ff3232;
    border-radius: 15px;
}

.points-1{
    display: none;
}

.ranking-card{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 3px;
    padding-left: 20px;
    background-color: aliceblue;
    align-items: center;
    gap: 20px;
}

.ranking-1{
    background-color: rgb(246, 226, 45);;
}

.ranking-2{
    background-color: rgb(215, 216, 216);;
}

.ranking-3{
    background-color: rgb(244, 182, 77);;
}

.ranking-card-position{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.ranking-card-player{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.ranking-card-points{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.tournament-head{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: beige;
}

.wins{
    color: green;
}

.losses{
    color: red;
}